.idea
.iml

/xdiv

/src/com_extengen/administrator/components/com_extengen/generated
/src/com_extengen/administrator/components/com_extengen/compilation_cache
/src/com_extengen/administrator/components/com_extengen/test.json

